.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 40px;
  background-color: #222426;
  color: rgba(199, 178, 178, 0.871);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.imgMenu {
  width: 30px;
  height: auto;
  color: #ffffff;
}

.imgMenu:hover {
  transform: scale(1.4);
}

.navbar-brand a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.navbar-brand a:hover {
  color: rgb(145, 145, 172);
}

.navbar-menu {
  display: flex;
  gap: 20px;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.navbar-menu a:hover {
  font-size: 20px;
  color: rgb(145, 145, 172);
}


.navbar-toggler {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
}

@media (max-width: 890px) {
  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #2e363e;
    position: absolute;
    top: 100%; /* Ajusta para que esté justo debajo del navbar */
    left: 0;
    opacity: 0;
    transform: translateY(-10px); /* Ajusta para controlar la distancia del deslizamiento */
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000; 
  }

  .navbar-menu.active {
    display: flex; 
    opacity: 1;
    transform: translateY(0);
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-menu a {
    padding: 10px;
    text-align: center;
  }

  .navbar-menu a:hover {
    background-color: rgb(159, 163, 186);
    color: #000000;
  }

  @keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
}
